*{
    color: rgb(0, 12, 12);
}

.accordion{
    width: 100%;
}

.accordion-label-name{
    display: flex;
    justify-content: space-between;
    width: 100%;

}

.accordion-label-pick{
    display: none;
    background-image: url(plus.png);
    width: 30px;
    height: 30px;
    background-size: 100%;
  }

.accordion:hover .accordion-label-pick{
    display: block;
}

.accordion-item:hover{
    cursor: grabbing;
}

.accordion-image{
    display: none;
}

.accordion-item input[type="radio"] {
    display: none;
  }
  
  .accordion-item input[type="radio"]:checked ~ label .accordion-image {
    display: block;
  }

  .accordion-item input[type="radio"]:checked ~ label .accordion-label-pick {
    background-image: url(cross.png);
  }

  .accordion-item label:hover .accordion-image {
    display: block;
  }

  .accordion-image:hover {
    display: block;
  }

