*{
    margin: 0;
}

h1{
    padding-left: 25%;
}

h2{
    color: blue;
    padding: 5% 0;
}


.accordion{
    width: 90%;
    padding: 5%;
}

.accordion-image img{
    width: 100%;
}


.accordion-label-name{
    display: flex;
    justify-content: space-between;
    width: 100%;

}

.accordion-label-pick{
    display: none;
    background-image: url(plus.png);
    width: 30px;
    height: 30px;
    background-size: 100%;
  }



.accordion *{
    cursor: grabbing;
}

.accordion-image{
    display: none;
    animation: openImage 1.0s ease-in-out forwards;

}

@keyframes openImage {
  from {  transform: scale(0.5); }
  to {  transform: scale(1); }
}

.accordion-item input[type="radio"] {
    display: none;
  }
  
  .accordion-item input[type="radio"]:checked ~ label .accordion-image {
    display: block;
    transition: width 2s;

  }

  .accordion-item input[type="radio"]:checked ~ label h2 {
    color: black;
  }

  .accordion-item input[type="radio"]:checked ~ label .accordion-label-pick {
    background-image: url(cross.png);
  }

  @media (min-width: 820px) {
    
    h2{
      font-size: 2em;
    }


  }

  @media (min-width: 1080px) {
    
    h1{
      font-size: 3em;
    }

    h2{
      font-size: 2.1em;
      color: blue;
      padding: 1% 0;
    }

    .accordion {
      width: 60%;
      padding: 3% 20%;
    }

    .accordion-image img{
      width: 30%;
  }

    
  }




  @media (hover: hover) {

    .accordion:hover .accordion-label-pick{
        display: block;
    }

    .accordion-item label:hover .accordion-image {
        display: block;
      }

      .accordion-image:hover {
        display: block;
      }

  }